# SPDX-FileCopyrightText: 2021-2025 Sébastien Helleu <flashcode@flashtux.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

.coverage
.hypothesis
*.pyc
*.pyo
build/
dist/
weechat_script_lint.egg-info/
